<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @fname %>,
    <p>To join Canvas, follow this link. You'll automatically be added to the <%= @workspace %> workspace.</p>
    <a href='<%= @link %>'><%= @link %></a>
  </body>
</html>