// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'variables';

#itemsLoading {
  height: 40px;
  text-align: center;
  h1 {
    color: #888;
    font-weight: 400;
  }
}
.Inset {
  background: transparentize(black, 0.95);
  box-shadow: inset 0 1px 2px transparentize(black, 0.75);
  color: #BBB;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;
}
.MemberProfile {
  background: lighten($green, 40%);
  color: #666;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
}
#sidebar {
  border-right: 1px solid transparentize(black, 0.35);
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 10px 0;
  position: absolute;
  top: 0;
  width: 200px;
  &:before {
    // Slightly rotate background gradient
    background: $sidebar-base; /* Old browsers */
    background: -moz-linear-gradient(top, $sidebar-base 0%, #282733 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$sidebar-base), color-stop(100%,#282733)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $sidebar-base 0%,#282733 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $sidebar-base 0%,#282733 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $sidebar-base 0%,#282733 100%); /* IE10+ */
    background: linear-gradient(to bottom, $sidebar-base 0%,#282733 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52515e', endColorstr='#282733',GradientType=0 ); /* IE6-9 */
    content: "";
    position: absolute;
    width: 300%; 
    height: 200%;
    @include vendor-prefix(transform, "rotate(10deg)");
    top: -50%;
    left: -100%;
    z-index: -1;
  }
  .SidebarProfilePicture {
    background: $green;
    border-radius: 15px;
    color: transparentize(white, 0.15);
    display: inline-block;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
    &.Small {
      border-radius: 10px;
      font-size: 11px;
      height: 20px;
      line-height: 20px;
      width: 20px;
    }
  }
  .SidebarProfile {
    margin: 14px 6px 6px 6px;
    .SidebarProfileName {
      color: white;
      display: inline-block;
      margin-left: 8px;
      max-width: 90px;
      vertical-align: middle;
      width: 90px;
    }
  }
  .SidebarSearch {
    margin: 8px 6px;
    input[type='text'] {
      width: 100%;
    }
  }
  .SidebarInset {
    // background: darken($sidebar-base, 10%);
    @extend .Inset;
  }
  .WorkspaceHeader {
    color: white;
    margin: 8px auto;
    text-align: center;
  }
  #workspaces {
    border-top: 1px solid #666;
    color: white;
    #workspacesHeader {
      @extend .WorkspaceHeader;
    }
    #workspaceList {
      list-style: none;
      padding: 0;
      .Workspace {
        @extend .SidebarInset;
        &:focus {
          background: transparentize(white, 0.95);
          outline: 1px solid $green;
          &:hover {
            cursor: auto;
          }
        }
        &:hover {
          cursor: pointer;
        }
        .WorkspaceName {
          font-size: 16px;
          margin: 0;
        }
      }
      #createWorkspacePrompt {
        font-weight: 600;
        margin: 10px;
        text-align: center;
        @include vendor-prefix(transition, color 0.15s);
        &:hover {
          color: $green;
          cursor: pointer;
        }
      }
    }
  }
  #currentWorkspace {
    border-top: 1px solid #666;
    position: relative;
    #workspaceBack {
      color: white;
      display: inline-block;
      float: left;
      left: 8px;
      top: 13px;
      position: absolute;
      &:hover {
        cursor: pointer;
      }
    }
    .WorkspaceName {
      @extend .WorkspaceHeader;
    }
    .WorkspaceMembers {
      padding: 0 3px;
      .WorkspaceMemberProfilePicture {
        @extend .MemberProfile;
        &.Inactive {
          opacity: 0.65;
        }
      }
      .AddWorkspaceMember {
        @extend .SidebarProfilePicture.Small;
        background: lighten($green, 30%);
        color: $green;
        display: inline-block;
        font-size: 11px;
        text-align: center;
        @include vendor-prefix(transition, "background 0.25s, color 0.25s");
        vertical-align: middle;
        &:hover {
          background: $green;
          color: white;
          cursor: pointer;
        }
      }
    }
    #inviteMembers {
      display: none;
      #addWorkspaceMemberPrompt {
        color: white;
        font-size: 14px;
        font-weight: 600;
        margin: 6px;
      }
      #addWorkspaceMember {
        margin: 6px;
        #invite_fname, #invite_lname {
          display: inline-block;
          width: 92px;
        }
        #invite_fname {
          margin-right: 3px;
        }
        #invite_email, #invite_button {
          width: 100%;
        }
      }
    }
    #noPinnedItems {
      color: white;
      margin: auto 6px;
    }
    #sidebarFilters {
      text-align: center;
      #filtersList {
        list-style: none;
        margin: auto;
        padding-left: 0;
        .Filter {
          color: white;
          display: inline-block;
          margin: 0 4px;
          opacity: 0.65;
          text-align: center;
          text-shadow: 0 1px 4px transparentize(black, 0.5);
          @include vendor-prefix(transition, opacity 0.25s);
          width: 36px;
          &:hover {
            cursor: pointer;
            opacity: 1;
          }
          &.Active {
            color: $green;
            opacity: 1;
          }
          .Icon {
            font-size: 22px;
          }
        }
      }
    }
  }
  
  .SidebarPrompt {
    @extend .SidebarInset;
    text-align: center;
    text-transform: uppercase;
  }
  #sidebarFooter {
    bottom: 0;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    .Icon {
      margin: auto 8px;
      opacity: 0.65;
      @include vendor-prefix(transition, opacity 0.25s);
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }
}
.ProfileImage {
  border-radius: 10px;
  display: inline-block;
  font-size: 13px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}
#items {
  bottom: 0;
  box-shadow: -1px 0 2px 1px transparentize(black, 0.75);
  left: 200px;
  position: absolute;
  right: 0;
  top: 0;
  .RootItemHeader {
    background: white;
    border-bottom: 1px solid #CCC;
    overflow: hidden;
    margin-left: 1px;
    padding: 6px;
    .RootItemSearch {
      display: inline-block;
      float: left;
    }
    .RootItemAdd {
      border-left: 1px solid #CCC;
      display: inline-block;
      float: right;
      padding-left: 6px;
      .RootItemAddPrompt {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
      }
      .RootItemAddButtons {
        display: inline-block;
        vertical-align: middle;
        .ItemAddButton {
          border: 1px solid white;
          border-radius: 4px;
          color: #444;
          display: inline-block;
          font-size: 22px;
          margin: 0px 7px;
          padding: 4px 8px;
          @include vendor-prefix(transition, "background 0.25s, border 0.25s");
          &:hover {
            background: #DDD;
            border: 1px solid #BBB;
            cursor: pointer;
          }
        }
      }
    }
  }
  .Item {
    position: absolute;
    &.RootItem {
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
    }
    &.Selected {
      .Note {
        border: 1px solid #999;
        border-top: none;
        outline: 1px solid $green;
      }
    }
    .ItemDragHandle {
      background: $green;
      height: 4px;
      margin: auto;
      width: 100%;
      &:hover {
        cursor: move;
      }
    }
    .Note {
      border: 1px solid transparentize(black, 0.9);
      border-top: none;
      padding: 4px;
      @include vendor-prefix(transition, border 0.25s);
      &:focus {
        outline: $selected-item-outline;
        outline-top: none;
      }
      &:hover {
        border: 1px solid transparentize(black, 0.75);
        border-top: none;
      }
    }
  }
  .ItemDetails {
    background: transparentize(white, 0.25);
    border-left: 4px solid $green;
    bottom: 0;
    // padding: 12px;
    position: absolute;
    right: -228px;
    top: 52px;
    @include vendor-prefix(transition, right 0.15s);
    width: 200px;
    &.Active {
      right: 0px;
    }
    .NoteDetails {
      padding: 12px;
      p {
        margin: 0;
      }
    }
    .ItemFollowersGroup {
      padding: 0 12px;
      .FollowerProfile, .AddFollower {
        @extend .ProfileImage;
      }
      .FollowerProfile {
        background-color: $green;
        color: white;
      }
      .AddFollower {
        @extend .MemberProfile;
        color: $green;
        @include vendor-prefix(transition, "background 0.25s, color 0.25s");
        &:hover {
          background: $green;
          color: white;
          cursor: pointer;
        }
      }
    }
    .MemberSelect {
      padding: 6px;
      input[type='text'] {
        width: 100%;
      }
      .MemberSelectList {
        list-style: none;
        margin: 0;
        padding: 0;
        .MemberSelectItem {
          padding: 4px 0;
          &:hover {
            background: lighten($green, 30%);
            cursor: pointer;
          }
          &.Selected {
            background: $green;
            color: white;
            .MemberEmail {
              color: #DDD !important;
            }
          }
          .ProfileImage {
            @extend .MemberProfile;
            @extend .ProfileImage;
            display: inline-block;
          }
          .MemberText {
            display: inline-block;
            margin-left: 4px;
            vertical-align: middle;
            .MemberName {
              font-size: 12px;
              font-weight: 600;
              margin: 2px 0;
            }
            .MemberEmail {
              color: #666;
              font-size: 11px;
              margin: 0;
            }
          }
        }
      }
    }
    .DeleteItem {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      text-align: center;
      .Icon {
        @include vendor-prefix(transition, color 0.25s);
        &:hover {
          color: #666;
          cursor: pointer;
        }
      }
    }
  }
}